<header class="header">
    <a class="header__logo" href="#home">
      <img
        class="header__logo__image"
        src="https://i.otzovik.com/objects/b/2110000/2109981.png"
        alt="logo"
      >
    </a>

    <div class="header__currencies">
      <div class="header__currencies__unit">
        EUR/UAH: {{ currencies.EUR }}
      </div>
      <div class="header__currencies__unit">
        USD/UAH: {{ currencies.USD }}
      </div>
      <div class="header__currencies__unit">
        GBP/UAH: {{ currencies.GBP }}
      </div>
    </div>
  </header>
